body {
  background-image: url('./assets/bg.png');
  background-size: 800px;
  background-attachment: fixed;
  color: white;
 }

.App {
  width: 800px;
  margin: 0 auto;
}

.navBar {
  color: white;
  background-color: #3e6452; 
  padding: 10px;
  height: 100px;
}

.footer {
  padding: 5px;
  text-align: center;
}

.blip_star {
  height: 25px;
  padding-right: 5px;
}

.navLinks {
  color: white;
}

.banner {
  width: 200px;
  position: relative;
}

.user_card {
  background-color: #27337a;
  border: 1px solid #8990bb;
  border-radius: 5px;
  margin-top: 5px;
  padding: 20px;
}

.blip {
  background-color: #27337a;
  border: 2px solid black;
  border-bottom: 2px solid #8990bb;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  padding: 20px;
}

.blip-right { text-align: right; }

.blipForm {
  padding: 10px;
}

textarea {
  resize: none;
  width: 775px;
  height: 60px;
}