.App {
  width: 800px;
  margin: 0 auto;
}

.navBar {
  color: white;
  background-color: #3e6452; 
  padding: 10px;
  height: 100px;
}

.blip_star {
  height: 25px;
  padding-right: 5px;
}

.navLinks {
  color: white;
}

.banner {
  width: 200px;
  position: relative;
}

.user_card {
  border-left: 5px solid black;
  margin: 5px;
  padding: 5px;
}

.blip {
  background-color: #cff7f3;
  border: 1px solid black;
  border-left: 5px solid black;
  text-align: center;
  margin: 5px;
  padding: 20px;
}

.blipForm {
  padding: 10px;
}

textarea {
  resize: none;
  width: 775px;
  height: 60px;
}